*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inclusive Sans', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label{
    font-size: 28px;
}

input{
    border: none;
    background-color: #eceaea;
    border-radius: 12px;
    height: 28px;
    padding-left: 12px;
}
