*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.item-conteiner{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 450px;
    padding: 24px;
    gap: 8px;
}
.item{
    border: 1px solid pink;
    padding: 16px;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    font-size: 26px;
}
input{
    border: none;
    padding: 12px;
    background-color: #f4f4f4;
    border-radius: 24px;
}